header {
  background-color: aqua;
}
.logo_image {
  width: 50px;
}
.nav_li {
  display: inline;
}
.logo {
  display: inline;
  vertical-align: middle;
}
.navigation {
  display: inline-block;
  vertical-align: middle;
}
